$theme-color: #2980b9;
$theme-colors: #002fa7, #81d8cf, #003152, #b05923, #e60000, #900021, #8f4b28, #00bfff, #40e0d0;
$sidebar-width: 20rem;
// 左侧菜单栏的宽度
$sidebar-mobile-width: 16rem;
// 字体
// $font-family: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
// $font-family-heading: 'Georgia, -apple-system, "Nimbus Roman No9 L", "PingFang SC", "Hiragino Sans GB", "Noto Serif SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif';
$font-family: '-apple-system, "Microsoft YaHei", sans-serif';

